.synopsis {
color: #7E8184;
font-style: italic;
}


.synopsis em {
  font-style: normal;
}


.page{
  width: 600px;
  margin: 0 auto;


}

.button:link,
.button:visited {

    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    display: block;
    text-decoration: none; /* got rid of underline hyperlink */

    width: 200px;
    box-sizing:  border-box;
    margin: 20px auto;
}




.call-to-action:link,
.call-to-action:visited {
   color: rgb(10, 6, 29);
   font-style: italic;
   background-color: rgb(244, 208, 23);

}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #629ad9;  /* Light blue */
}
